#plusko {width:2.5rem; height:2.5rem; margin:0.7rem 0; background:url(https://www.calculat.org/aaa/img/plus0.svg) no-repeat; cursor:pointer}
#plusko:hover {background:url(https://www.calculat.org/aaa/img/plus1.svg) no-repeat}
.promenna input[readonly].vysl700 {border:0; border-bottom:1px solid #999999}


                             

